body{
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-style: arial, sans-serif;
}
h1{
    margin-bottom: 20px;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #f9f9f9;
}
th, td{
    border: 2px solid #1a1818;
    padding: 20px;

}
th{
    background-color: rgb(66, 3, 78);
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
footer a {
    color: #210533;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
}