/* 
    * Abrindo no celular, a responsividade não está muito boa
    * Geralmente em celulares colocamos o grid apenas com 1 coluna
    * Para que não tenha erro de estorar, o que está acontecendo

    * Para o header, está cabendo tudo mas está meio apertado
    * Para celular geralmente colocamos um menu, mas foje do escopo, apenas citando
*/

@media (min-width: 768px) {
    header {
        flex-direction: column;
        padding: 20px 5%; /* ! % */
        gap: 20px;
    }
    
    nav {
        display: flex;
        gap: 20px;
        margin-top: 0;
    }
    
    nav a {
        display: inline;
    }

    .grade_de_produtos {
        padding: 0 10px;
        grid-template-columns: repeat( 2, 1fr);
    }

    .saiba-mais {
        margin: 20px auto;
        padding: 20px;
    }
}